@model CanchaApp.Modelo.Cancha

@{
    ViewData["Title"] = "Delete";
}

<h1></h1>

<h4>Eliminar Cancha</h4>
<h6>Chequear los datos antes de cancelar el turno. Una vez dado de baja no se podrán recuperar los datos.</h6>
<div>
    <h4>Cancha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCapacidadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCapacidadNavigation.Tamaño)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoPisoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoPisoNavigation.TipoPiso1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar Cancha" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>
