@model CanchaApp.Modelo.TurnoReservado

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TurnoReservado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                @* <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select> *@
                <select asp-for="IdUsuario" class="form-control" id="IdUsuarioSelect">
                    <option value="">Seleccione un Turno</option>
                    @{
                        foreach (var usuarios in ViewBag.Usuarios)
                        {
                            <option value="@usuarios.Id">@usuarios.Nombre @usuarios.Apellido</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IdTurno" class="control-label"></label>
                @* <input asp-for="IdTurno" class="form-control" /> *@
                <select asp-for="IdTurno" class="form-control" id="IdTurnoSelect">
                    <option value="">Seleccione un Turno</option>
                    @{
                        foreach (var turnos in ViewBag.Turnos)
                        {
                            <option value="@turnos.Id">@turnos.HoraInicio</option>
                        }
                    }
                </select>

                <span asp-validation-for="IdTurno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCancha" class="control-label"></label>
                @*  <select asp-for="IdCancha" class ="form-control" asp-items="ViewBag.IdCancha"></select> *@
                <select asp-for="IdCancha" class="form-control" id="IdCanchaSelect">
                    <option value="">Seleccione una Cancha</option>
                    @{
                        foreach (var canchas in ViewBag.Canchas)
                        {
                            <option value="@canchas.cancha.Id">@canchas.piso @canchas.capacidad</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
