@model CanchaApp.Modelo.TurnoReservado

@{
    ViewData["Title"] = "Delete";
}

<h4>Eliminar Turno</h4>

<h6>Chequear los datos antes de cancelar el turno. Una vez dado de baja no se podrán recuperar los datos.</h6>
<div>
    <h4></h4>
    <hr />

    <div class="marco">
        
    <dl class="table">


    
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCanchaNavigation.IdCapacidadNavigation.Tamaño)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCanchaNavigation.IdCapacidadNavigation.Tamaño)
        </dd>
        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.IdCanchaNavigation.IdTipoPisoNavigation.TipoPiso1)
        </dt>
        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.IdCanchaNavigation.IdTipoPisoNavigation.TipoPiso1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Nombre)
        </dd>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Eliminar Turno" class="btn btn-danger mb-1 m-1" /> 

            </form>

    </dl>
       
    </div>
    
    <a asp-action="Index" class="btn btn-primary">Volver a la Lista</a>
</div>
