@using CanchaApp.Modelo;

@model IEnumerable<CanchaApp.Modelo.TurnoReservado>


@{
    ViewData["Title"] = "Index";
}

<h4>Listado de Turnos</h4>
<table style="width:100%">
    <tr>
        <td style="width:10%">
            <b>Ordenar por:</b>
        </td>
        <td style="width:60%">
            <select style="width:30%" class="form-select" id="orderBySelect">
                <option selected>Seleccione un valor</option>

                <option value="MayorPrecio">Mayor Precio</option>
                <option value="MenorPrecio">Menor Precio</option>
            </select>
        </td>
        <td style="width:25%;text-align:right">
            <a asp-action="Create">Crear nuevo turno</a>
        </td>
    </tr>
</table>
<p>
    @*  <a asp-action="Create">Create New</a> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Horario
            </th>
            <th>
                Tamaño Cancha
            </th>
            <th>
                Precio
            </th>
            <th>
                Tipo Piso

            </th>

            <th>
                Apellido
            </th>
            <th>
                Nombre
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
            <tr>


                @{
                    TimeSpan horario = new TimeSpan();
                    
                    foreach (var turnos in ViewBag.Turnos)
                    {
                        
                        if (turnos.Id == item.IdTurno)
                        {
                            horario = turnos.HoraInicio;
                        }
                    }
                    }
                
                <td>
                    @Html.DisplayFor(modelItem => horario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCanchaNavigation.IdCapacidadNavigation.Tamaño)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCanchaNavigation.Precio)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IdCanchaNavigation.IdTipoPisoNavigation.TipoPiso1)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar Turno</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar Turno</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        document.getElementById('orderBySelect').addEventListener('change', function () {
            var selectedValue = this.value;
            var url = '@Url.Action("Index", new { orderBy = "placeholder" })';
            window.location.href = url.replace("placeholder", selectedValue);
        });
    </script>
}
