@model IEnumerable<CanchaApp.Modelo.Capacidad>

@{
    ViewData["Title"] = "Index";
}

<h4>Capacidad Cancha</h4>

<p>
    <a asp-action="Create" class="btn btn-success">Crear nueva Capacidad</a>
</p>
<div class="marco">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tamaño)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tamaño)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id " class="btn btn-primary">Editar Tamaño</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar Tamaño</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>